body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.favBtn{
	background-color: gold;
	font-size: 15px;
	margin: 10px;
	padding: 5px;

	
}
.lists{
	display:flex;
	margin: 10px;
}
#h3Skills {
	text-decoration:underline;
	flex-direction: column;

}
#skills {
	width: 200px;
	height: 100px;
	display: flexbox;
	flex-direction: column;
	border-color: solid black 2px;
}

#inthead {
	text-decoration:underline;
	flex-direction: column-reverse;

}
#interests {
	width: 200px;
	height:200px;
	display: flexbox;
	flex-direction: column;
	border-color: 1px, solid blueviolet;
}


#careerGH {
	text-decoration:underline;
}
